.action-links{
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

.action-links:hover{
    cursor: pointer;
    transform: scale(1.05); /* Increase the scale by 5% on hover */
    transition: transform 0.3s ease, color 0.5s ease; /* Apply a smooth transition effect over 0.3 seconds */
    color: #FE2500;
}
.album-art{
    width: 80%;
}

.album-info{
    justify-content: end;
}

.apple-music-img{
    width: 5%;
}

.copy{
    font-size: 2rem;
}

.promo-img{
    width: 100%;
}

.familjen-grotesk-92 {
  font-family: "Familjen Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.logo{
    width: 20%;
    left: 2%;
    top: 15%;
}

.navbar-top{
    background-color: #252422;
}

.nav-action-container{
    margin-top: 0.6rem;
}

@media screen and (min-width: 992px){
    .nav-action{
        display: inline;
    }

    .nav-action-container{
        justify-content: end;
    }
}


@media screen and (max-width: 992px){
    .album-info,
    .album-links{
        justify-content: center;
    }

    .logo{
        top: 10%;
     }
     

    .nav-action-container{
        justify-content: start;
    }
}
